################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Bovie/Bovie.Android/Properties/AssemblyInfo.cs